
a{
	
color:red;


}


span.refTitle

{font-size: 11px;
font-weight:bold;
font-family:arial}

span.refTitleHelp
{ font-weight:normal;}

.tag {
	
display: inline-block;
background-color:whitesmoke;
font-size:11px;
padding:0px;
margin:1px !important;
width:150px;
text-align:center;


	cursor:pointer;
}


.tag:hover {
	
	background-color:#cceebb;
	}


.tagSelected {
	
	display: inline-block;
background-color:#cceecc;
color:black;
font-size:11px;
padding:0px;
margin:1px !important;
cursor:pointer;
width:150px;
text-align:center;
	
}


.tagSelected:hover {
	
	background-color:#cceebb;
	}


div.annotate {
	
width:500px !important;
margin:1px;
height:auto;
background-color:#dddddd;
}



span.tag {outline:none; }
span.tag strong {line-height:30px;}
span.tag:hover {text-decoration:none;} 
span.tag span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:100px;
    width:240px; line-height:16px;
}
span.tag:hover span{
    display:inline; position:absolute; color:green;
    border:1px solid #DCA; background:whitesmoke;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
span.tag span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}



span.tagSelected {outline:none; }
span.tagSelected strong {line-height:30px;}
span.tagSelected:hover {text-decoration:none;} 
span.tagSelected span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
}
span.tagSelected:hover span{
    display:inline; position:absolute; color:green;
    border:1px solid #DCA; background:whitesmoke;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
span.tagSelected span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}



.otherReasons {
	
//z-index:10;
display:none;
	}
	
.otherReasonsDisplay{
	
display:inline;	
	}	
	
	

